<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="{{ asset ('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css') }}">
    {% endblock %}


  <link rel="stylesheet" href="{{ asset ('//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ asset ('/resources/demos/style.css') }}">
  <script src="{{ asset ('https://code.jquery.com/jquery-1.12.4.js') }}"></script>
  <script src="{{ asset ('https://code.jquery.com/ui/1.12.1/jquery-ui.js') }}"></script>
  <script src="{{ asset ('i18n/datepicker-fr.js') }}"></script>
  </head>

  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Le site du musée du louvre</h1>
      <p>
        Le musée du Louvre est un musée d'art et d'antiquités situé au centre de Paris dans le palais du Louvre.
      </p>
      <p>
        <a href="{{ path('mk_louvre_inscription')}}" class="btn btn-primary btn-lg">Acheter Votre Billet !</a>
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Liens</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('mk_louvre_homepage')}}">Accueil</a></li>
          <li><a href="">Informations pratiques</a></li>
          <li><a href="">Visites & Activités</a></li>
          <li><a href="">Expositions & Actualités</a></li>
          <li><a href="">Œuvres & Palais</a></li>
          <li><a href="">Arts & éducation</a></li>
        </ul>
      </div>

        <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>

    </div>

        

    <hr>

    <footer>
      <p>Développé par Mohamed Konaté</p>
    </footer>
  </div>


<script src="{{ asset ('fichier.js') }}"></script>
  </body>
</html>
